@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h2 {
  font-size: 130%;
}

#root {
  height: 100%;
}

#map {
  width: 66.6%;
  right: 0;
  height: 100%;
  position: absolute;
}

canvas.mapboxgl-canvas {
  width: 100%;
  height: 100%;
}

.mapboxgl-popup {
  /* max-width: 200px; */
  top: -10px;
  height: 100%;
}
/*
div.mapboxgl-popup mapboxgl-popup-anchor-top {
  transform: none;
}*/


.my-popup {
  text-align: center;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Reenie Beanie', cursive;
  /* padding: 18px 15px 15px; */
  padding: 0;
  width: 200px;
  height: 100%;
  background-position: center;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
  filter: grayscale(100%);
  position: absolute;
  left: 33.33%;
  z-index: 1000;
}

.mapboxgl-popup-close-button {
  right: 6px;
  top: 2px;
  font-size: 150%;
  background-color: rgba(255,255,255,0.6);
  padding: 2px 7px;
  border-radius: 40px;
}

div.popup-overlay {
  background: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.2));
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  color: white;
  padding: 60px 0;
  font-size: 250%;
  line-height: normal;
  text-align: left;
}

span.popup-img {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
}

div.popup-text {
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.7), rgba(0,0,0,0.4));
  padding: 180px 26px;
  height: 530px;
}

p.venue-type {
  font-size: 0.3em;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 1px;
  padding: 10px 0;
  font-family: sans-serif;
}

p.venue-details {
  font-size: 0.6em;
}

.stars {
  font-size: x-small;
}

.stars svg {
  margin: 2px;
}

.marker {
  background-image: url('coffee-solid.svg');
  /* background-size: cover; */
  width: 18px;
  height: 14px;
  cursor: pointer;
  opacity: 0.8;
  color: #a78871;
}

.open-marker {
  z-index: 10;
  opacity: 1;
  height: 27px;
  width: 35px;
}
/*
div.marker.open {
  z-index: 10;
  background-color: white;
  opacity: 1;
  border-radius: 30px;
  border: 2px solid #673b3b;
  height: 23px;
  width: 25px;
}
*/

/*
div.marker:hover {
  width: 25px;
  height: 20px;
  opacity: 1.0;
}
*/

div.list-item {
  cursor: pointer;
  font-size: 0.9em;
  padding: 3px 16px;
  background-color: white;
}

div.list-item.open {
  font-weight: bold;
  color: white;
  background-color: rgba(0,0,0,0.7);
}

.sidebar {
  font-family: 'Reenie Beanie', cursive;
  font-size: x-large;
  width: 33.3333%;
  z-index: 2000;
  position: absolute;
  top: 0;
  height: 100%;
  background-color: rgba(125, 121, 117, 1);
  padding: 0;
}

div.menu-items-container {
  background-color: white;
  padding: 10px 0;
  height: 530px;
}

div.select-container {
  height: 60px;
  width: 100%;
  background-color: rgba(204, 193, 176, 1);
}

select {
  margin: 18px 20px 10px 20px;
  width: 100%;
  height: 30px;
  font-size: x-small;
  font-weight: bolder;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-color: #cac1b1;
  background-color: #cac1b1;
}

div.app-info {
  margin: 20px;
  font-size: 0.5em;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 635px) {
  
  #map {
    width: 100%;
    height: 300px;
  }
  
  .sidebar {
    width: 100%;
    top: 300px; /* set equal to small screen map height */
  }

  /*
  .mapboxgl-popup-content {
    width: 175px;
  }
  */

  .my-popup {
    width: 50%;
    height: 300px;
    left: 0;
  }

  div.popup-overlay {
    font-size: 120%;
  }

  div.popup-text {
    width: 100%;
    height: auto;
    font-size: 200%;
    padding: 150px 20px 20px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7));
  }
  
}
