@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h2 {
  font-size: 130%;
}

#root {
  height: 100%;
}

#map {
  width: 66.6%;
  right: 0;
  height: 100%;
  position: absolute;
  background-color: rgba(240, 240, 239, 1);
}

canvas.mapboxgl-canvas {
  width: 100%;
  height: 100%;
}

.mapboxgl-popup {
  /* max-width: 200px; */
  top: -10px;
  height: 100%;
}

.my-popup {
  text-align: center;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Reenie Beanie', cursive;
  /* padding: 18px 15px 15px; */
  padding: 0;
  width: 200px;
  height: 100%;
  background-position: center;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
  filter: grayscale(100%);
  position: absolute;
  left: 33.33%;
  z-index: 1000;
  background-color: rgba(0,0,0, 1);
}

.mapboxgl-popup-close-button {
  right: 6px;
  top: 2px;
  font-size: 150%;
  background-color: rgba(255,255,255,0.6);
  padding: 2px 7px;
  border-radius: 40px;
}

div.popup-overlay {
  background: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.2));
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  color: white;
  padding: 60px 0;
  font-size: 250%;
  line-height: normal;
  text-align: left;
}

span.popup-img {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
}

div.popup-text {
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.7), rgba(0,0,0,0.4));
  padding: 30px 26px;
  height: 530px;
}

p.venue-type {
  font-size: 0.4em;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 4px;
  padding: 10px 0;
}

.overview {
  font-size: 0.6em;
  margin: 60px 0;
}

.comedian {
  font-weight: 800;
  font-size: 120%;
}

.venue-details {
  font-size: 0.5em;
  margin: 16px 0;
}

.rating {
  font-size: 0.7em;
  margin: 6px 0;
}

.price {
  font-size: small;
  margin: 6px 0;
}

.price svg {
  margin: 2px;
}

.marker {
  background-image: url('coffee-solid.svg');
  /* background-size: cover; */
  width: 18px;
  height: 14px;
  cursor: pointer;
  opacity: 0.8;
  color: #a78871;
}

.open-marker {
  z-index: 10;
  opacity: 1;
  height: 27px;
  width: 35px;
}

.list-item {
  cursor: pointer;
  font-size: 0.9em;
  padding: 3px 16px;
  background-color: white;
}

.list-item.open {
  font-weight: bold;
  color: white;
  background-color: rgba(0,0,0,0.7);
}

.error-msg {
  font-size: 0.8em;
}

.sidebar {
  font-family: 'Reenie Beanie', cursive;
  font-size: x-large;
  width: 33.3333%;
  z-index: 2000;
  position: absolute;
  top: 0;
  height: 100%;
  background-color: rgba(125, 121, 117, 1);
  padding: 0;
}

.menu-items-container {
  background-color: white;
  padding: 10px 0;
  height: 530px;
}

nav.select-container {
  width: 100%;
  background-color: rgba(87, 81, 81, 1);
  padding: 20px 16px;
  font-weight: bold;
  font-size: 0.4em;
  display: block;
  letter-spacing: 1px;
  font-family: sans-serif;
}

#title {
  display: block;
  text-transform: uppercase;
  font-size: 1.5em;
  opacity: 0.6;
  letter-spacing: 2px;
}

select {
  margin-top: 12px;
  width: 100%;
  height: 30px;
  font-size: x-small;
  font-weight: bolder;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  background-color: #424242;
  padding: 8px;
}

.app-info {
  margin: 20px;
  font-size: 0.4em;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1rem;
}

hr {
  border-top: 1px solid #FFF;
  margin: 16px 0;
}

#close-popup {
  color: white;
  background-color: #000;
  font-family: sans-serif;
  font-size: x-small;
  font-weight: 900;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  padding: 8px 8px 8px 11px;
}

@media screen and (max-width: 635px) {
  
  #map {
    width: 100%;
    height: 300px;
    position: fixed;
    z-index: 2000;
  }
  
  .sidebar {
    width: 100%;
    top: 300px; /* set equal to small screen map height */
    z-index: unset;
  }

  .select-container {
    position: fixed;
    top: 300px;
    z-index: 2000;
  }

  .menu-items-container {
    position: relative;
    top: 130px;
    z-index: 1000;
    max-height: 530px;
  }

  #title {
    font-size: 1.1em;
  }

  .my-popup {
    width: 50%;
    height: 300px;
    left: 0;
  }

  div.popup-overlay {
    font-size: 120%;
  }

  div.popup-text {
    width: 100%;
    height: auto;
    font-size: 180%;
    padding: 150px 20px 20px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7));
  }

  .overview {
    margin: 10px 0;
  }

  .rating {
    display: inline-block;
    margin: 6px 20px 6px 0;
  }

  .price {
    display: inline-block;
  }

  .venue-details {
    margin: 0;
  }

  #popup {
    position: fixed;
    width: 100%;
    z-index: 3000;
  }

  .app-info {
    position: relative;
    top: 110px;
    background-color: #7c7975;
    left: -20px;
    padding: 20px;
    width: 100%;
    height: 90px;
    margin-bottom: 0;
  }
  
}
