.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#map {
  width: 100%;
  height: 500px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding: 18px 15px 15px;
}

.mapboxgl-popup-close-button {
  right: 6px;
  top: 2px;
}


.marker {
  background-image: url('coffee-solid.svg');
  background-size: cover;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.sidebar {
  width: 33.3333%;
  z-index: 2000;
  position: absolute;
  top: 0;
  height: 500px; /* set equal to map height */
  background-color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 599px) {
  
  #map {
    width: 100%;
    height: 300px;
  }
  
  .sidebar {
    width: 100%;
    top: 300px; /* set equal to small screen map height */
  }
}
